/*
Creator: Reginald
Date created: 2021-07-26
Date last modified: 2021-08-11
*/


body{

    background-color: #fefbd8;
    font-family: Arial, Helvetica, sans-serif;
    color: #0d1f2d;
     margin: 0 auto; 
    }


    
nav a {
    text-align: center;
    color: #000066
    padding: 8px;
    
    
    text-decoration: underline;
    display: block;
    margin: 10px 10px;
    width: 100px;
    float: left;
    position: relative;
    }

    .clear-float {clear:both;
    }

   
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}


.grid-container {
    display: grid;
    grid-gap: 188px 100px; 
    grid-template-columns: auto auto auto;
    background-color: ;
    padding: 10px 
    
}

.grid-item {
    border: 1px solid rgba(red, green, blue, alpha)
    padding: 20px
    text-align: center;
}

